.Bag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 315px) {
    .Bag {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 470px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 600px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 730px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 860px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 990px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1120px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1250px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1380px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1530px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1660px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1790px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1920px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 2050px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 2180px) {
    .Bag {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}