.params div {
    text-align: left;
    border-bottom: #8b8e88 solid 1px;
    padding-left: 8%;
}

.result-container {
    margin: 5% 33% 5% 33%;
}

@media screen and (max-width: 600px) {
    .result-container {
        margin: 5% 0% 5% 0%;
    }
}
@media screen and (min-width: 600px) {
    .result-container {
        margin: 5% 0% 5% 0%;
    }
}
@media screen and (min-width: 730px) {
    .result-container {
        margin: 5% 20% 5% 20%;
    }
}
@media screen and (min-width: 860px) {
    .result-container {
        margin: 5% 25% 5% 25%;
    }
}
@media screen and (min-width: 990px) {
    .result-container {
        margin: 5% 30% 5% 30%;
    }
}
@media screen and (min-width: 1120px) {
    .result-container {
        margin: 5% 33% 5% 33%;
    }
}